.header {
  padding: 1rem 0 3rem;
}

.title {
  font-size: 3rem;
  color: #000;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  font-size: 0.9rem;
  color: #999;
  text-decoration: none;
  margin-right: 1.3rem;
}

.nav-item:hover {
  color: #666;
}

.active-nav-item {
  color: #333;
}
